@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model eform.Models.news

@{
    ViewBag.Title = "NewsDetail";
}

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h3>@Model.title</h3>
            </div>
            <div class="box-body">
                @{
                    string content = "";
                    try
                    {
                        content=Model.content.Replace("\"", "");
                    }
                    catch(Exception ex)
                    {
                        content = "";
                    }
                }
                @Html.Raw(content)
                <h4>上傳檔案清單:</h4>
                @{
                    JArray list = new JArray();
                    if (!string.IsNullOrEmpty(Model.fileUrl))
                    {
                        try
                        {
                            list = JArray.Parse(Model.fileUrl);
                        }
                        catch (Exception ex)
                        {
                        }
                    }
                }
                <ul>
                    @foreach (JObject jobj in list)
                    {
                        string fileName = jobj["fileName"].ToString();
                        string fileUrl = jobj["fileUrl"].ToString();

                        <li>
                            <a href="@Url.Content("/upload/"+HttpUtility.UrlDecode(fileUrl))" target="_blank">
                                @fileName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-primary" })
</div>
