<tr>
    <td style="text-align:center;">
        <input type="checkbox" class="chk" style="width:20px;padding:0;margin:0 auto;" />
    </td>
    <td style="text-align:center;">
        <div class='input-group date' id="dt{0}" style="z-index:99999;">
            <input class="form-control dt form-control" style="" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

    </td>
    <td style="text-align:center;padding-left:0;padding-right:0;">
        <select class="form-control select2 prj" style="width:145px;" />
    </td>
    <td style="text-align:center;">
        <input class="form-control" style="" type="number" step="0.5" class="hours" />
    </td>
    <td style="text-align:center;">
        <input class="form-control subject" style="" />
    </td>
    <td style="text-align:center;">
        <textarea class="form-control memo" style="max-width:600px;"></textarea>
    </td>
    <td style="text-align:left;padding-left:0;padding-right:0;margin:0;">
        <div class="row" style="overflow:visible;white-space:nowrap;padding:0;margin:0;">
            <select class="form-control select2 user mgr1" style="display:inline-block;width:120px;" />
            <input type="checkbox" style="display:inline-block;" />
        </div>
    </td>
    <td style="text-align:left;">
        <div class="row" style="overflow:visible;white-space:nowrap;padding:0;margin:0;">
            <select class="form-control select2 user mgr2" style="display:inline-block;width:120px;margin:0;padding:0;" />
            <input type="checkbox" style="display:inline-block;" />
        </div>
    </td>
    <td style="text-align:left;">
        <div class="row" style="overflow:visible;white-space:nowrap;padding:0;margin:0;">
            <select class="form-control select2 user mgr3" style="display:inline-block;width:120px;margin:0;padding:0;" />
            <input type="checkbox" style="display:inline-block;" />
        </div>
    </td>
    <td style="text-align:left;">
        <div class="row" style="overflow:visible;white-space:nowrap;padding:0;margin:0;">
            <select class="form-control select2 user mgr4" style="display:inline-block;width:120px;margin:0;padding:0;" />
            <input type="checkbox" style="display:inline-block;" />
        </div>
    </td>
</tr>
