
@{
    ViewBag.Title = "AccessDenied";
}

@*<h2>AccessDenied</h2>*@

<h3><span class="label label-warning">沒有權限使用此頁</span></h3>

@*<div class="text-warning">沒有權限使用此頁</div>*@

@*<a href="@ViewBag.ReturnUrl">返回首頁</a>*@


