
@{
    ViewBag.Title = "antiforgery";
}

@*<h2>AccessDenied</h2>*@

<h3><span class="label label-danger">請關閉其他裝置的已登入頁面，再重新登入</span></h3>

<a href="@Url.Action("Login","Account")" class="btn btn-default btn-lg"><i class="fa fa-user"></i>重新登入</a>

@*<div class="text-warning">沒有權限使用此頁</div>*@

@*<a href="@ViewBag.ReturnUrl">返回首頁</a>*@


