@using eform.Models
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity


@{
    string UserName = "guest";
    bool isAdmin = false;
    List<permission> permList = new List<permission>();
    if (Request.IsAuthenticated)
    {
        isAdmin = User.IsInRole("Admin");
        var context = new ApplicationDbContext();
        var store = new UserStore<ApplicationUser>(context);
        ApplicationUserManager mgr = new ApplicationUserManager(store);
        string id = User.Identity.GetUserId();
        var user = mgr.FindById(id);
        if (user != null)
        {
            UserName = User.Identity.Name + " " + user.cName;
            permList = context.permList.Where(x => x.workNo == user.workNo).ToList<permission>();
        }
    }

}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel" style="padding-bottom:30px;">
            <div class="pull-left image" style="display:none;width:0;">
            </div>
            <div class="pull-left info" style="left:20px;">
                <p>@UserName</p>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            @if (Request.IsAuthenticated)
            {
                <li class="header">專案管理選單</li>
                <li class="active">
                    <a href="@Url.Action("Index", "Home", null)"><i class="fa fa-undo"></i><span>返回上層</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Prj")">
                        <i class="fa fa-th-list"></i><span>工單號碼管理</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-pencil-square-o"></i><span>工時輸入</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-table"></i><span>工時報表</span>
                    </a>
                    @*<a href="#">
                        <i class="fa fa-key"></i><span>專案權限設定</span>
                    </a>*@
                </li>
                @*<li class="treeview">
                    <a href="#">
                        <i class="fa fa-pencil-square-o"></i><span></span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i>表單申請
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>*@
            }
            else
            {
                //https://stackoverflow.com/questions/21413596/razor-if-else-inside-a-for-loop-the-for-block-is-missing-a-closing-charac
                @:
                <li><a href='@Url.Action("Login", "Account")'><i class="fa fa-sign-in"></i> <span>登入</span></a></li>
            }
        </ul>

        }
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>