
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_PrjLayout.cshtml";
}

<div class="box box-info">
    <div class="box-header">
        <h2>問事清單</h2>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>號碼</th>
                    <th>姓名</th>
                    <th>狀態</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>林大頭</td>
                    <td><label class="btn  btn-default">圓滿</label></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>林大頭</td>
                    <td><label class="btn  btn-default">圓滿</label></td>               
                </tr>
                <tr>
                    <td>3</td>
                    <td>林大頭</td>
                    <td><label class="btn  btn-default">圓滿</label></td>
                </tr>
                <tr class="bg-danger">
                    <td>4</td>
                    <td>林大頭</td>
                    <td><label class="btn  btn-danger">問事中</label></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>林大頭</td>
                    <td><label class="btn btn-info">等待中</label></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>林大頭</td>
                    <td><label class="btn btn-info">等待中</label></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>林大頭</td>
                    <td><label class="btn btn-info">等待中</label></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

